:root {
    --black: #1a1a1a;
    --white: #FCFCFC;
    --secondaryBlack: #666666;
    --dull: #949494;
    --progress: rgb(148, 148, 148);
    --optionDefault: #F6F7FA;
    --optionSelect: #94D6A3;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: ThicBold;
    src: url("../assets/fonts/THICCCBOI-Bold.ttf");
}
@font-face {
    font-family: ThicBlack;
    src: url("../assets/fonts/THICCCBOI-Black.ttf");
}
@font-face {
    font-family: ThicRegular;
    src: url("../assets/fonts/THICCCBOI-Regular.ttf");
}
@font-face {
    font-family: Elevetion;
    src: url("../assets/fonts/Elevation.ttf");
}
@font-face {
    font-family: SofiaBlack;
    src: url("../../fonts/Sofia/Sofia Pro Black Az.otf");
}
@font-face {
    font-family: SofiaMedium;
    src: url("../../fonts/Sofia/Sofia Pro Medium Az.otf");
}
@font-face {
    font-family: SofiaRegular;
    src: url("../../fonts/Sofia/Sofia Pro Regular Az.otf");
}
body{
    width: 100%;
    height: 100%;
    
}
.wrapper{
    max-width: 420px;
    height: 100%;
    margin: 0 auto;
    line-height: 0;
}

.wrapper .content{
    margin-top: 3.5rem;
}

.wrapper .content .logo span{
    font-family: ThicBlack;
    font-size: 50px;
    color: black;
}

.wrapper .content .mainStepOne {
}

.wrapper .content .mainStepOne .headline,
.qhead {
    font-size: 36px;
    line-height: 42px;
    margin-top: 2.4rem;
}

.wrapper .content .mainStepOne .headline span,
.qhead span{
    font-family: SofiaMedium;
    /* font-weight: 300; */
    color: var(--black);
}
.wrapper .content .mainStepOne .headlineTwo{
    margin-top: 1.5rem;
    margin-bottom: 4px;
    font-size: 21px;
    font-family: SofiaMedium;
    color: var(--black);
    line-height: 2;
    /* font-weight: 100; */
}
.wrapper .content .mainStepOne .privacyPolicy,
.qinfo{
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    letter-spacing: 0.03ex;
    color: var(--dull);
    margin-bottom: 1.5rem;
    font-family: SofiaRegular;
    margin-top: 0.5rem;
}

.progressBar{
    margin: 0;
    padding: 0;
    min-width: 420px;
    height: 2rem;
    display: flex;
    align-items: center;
    line-height: 0;
    opacity: 0.7;
    margin: 0 auto;
}

.progressBar .mark_icon{
    width: 6%;
    margin-left: 0;
}


.progressBar .mark_icon .markIcon_Container{
    width: 1.3rem;
    height: 1.3rem;
}

.progressBar .mark_icon .markIcon_Container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.progressBar .progressbarContainer{
    width: 94%;

}

progress {
    border-radius: 7px; 
    width: 94%;
    height: 0.85rem;
  }
  progress::-webkit-progress-bar {
    background-color:rgba(231,231,231,1);
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color:rgba(5,136,102, 0.65);
    border-radius: 7px;
    /* opacity: 0.7; */
  }
  progress::-moz-progress-bar {
    /* style rules */
  }

.wrapper .content #stepTwo,
.wrapper .content #stepThree,
.wrapper .content #endSteps{
    line-height: 0;
}

#stepTwo #phoneNumberForm,
#step3 #phoneNumberForm{
    /* border: 2px solid red; */
    line-height: 1.5;
}

#stepTwo #getCodeBtn,
#step3 #getCodeBtn{
    /* margin: 1rem; */
    margin-top: 2rem;
    margin-left: 0rem;
    width: 100%;
    font-family: SofiaRegular;
    /* line-height: 1.5; */

    /* margin-top: -1rem; */
    /* margin-bottom: 1rem; */
}

#verifyCodeBtn{
    margin-top: 2rem;
    margin-left: 0rem;
    width: 100%;   
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
#phoneNumberForm #code{
    min-height: 60px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: transparent;
    -webkit-transition: border-color 300ms ease;
    transition: border-color 300ms ease;
    color: #7f58e2;
    font-size: 22px;
    font-weight: 700;
}
#stepTwo #phoneNumberForm #number,
#step3 #phoneNumberForm #code,
#step3 #phoneNumberForm #number{
    min-height: 60px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: transparent;
    -webkit-transition: border-color 300ms ease;
    transition: border-color 300ms ease;
    color: #7f58e2;
    font-size: 22px;
    font-weight: 700;
}

#stepTwo #phoneNumberForm #number:hover,
#step3 #phoneNumberForm #code:hover{
    display: block;
    border-color: rgba(0, 0, 0, 0.15);
}
  
#stepTwo #phoneNumberForm #number:focus,
#step3 #phoneNumberForm #code:focus{
    border-color: rgba(127, 88, 226, 0.5);
}

#stepTwo #phoneNumberForm #number::placeholder,
#code::placeholder,
#amount1::placeholder,
#amount2::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.30);
    opacity: 1; /* Firefox */
  }
  
#stepTwo #phoneNumberForm #number:-ms-input-placeholder,
#code:-ms-input-placeholder,
#amount1:-ms-input-placeholder,
#amount2:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:rgba(0, 0, 0, 0.30);
}
  
#stepTwo #phoneNumberForm #number::-ms-input-placeholder,
#code::-ms-input-placeholder,
#amount1::-ms-input-placeholder,
#amount2::-ms-input-placeholder{ /* Microsoft Edge */
    color: rgba(0, 0, 0, 0.30);
}


#stepTwo #phoneNumberForm #number::-webkit-outer-spin-button,
#stepTwo #phoneNumberForm #number::-webkit-inner-spin-button,
#code::-webkit-outer-spin-button,
#code::-webkit-inner-spin-button,
#step3 #phoneNumberForm #number::-webkit-outer-spin-button,
#step3 #phoneNumberForm #number::-webkit-inner-spin-button,
#code::-webkit-outer-spin-button,
#code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#stepTwo #phoneNumberForm #number[type=number],
#code[type=number],
#step3 #phoneNumberForm #number[type=number],
#step3 #phoneNumberForm #code[type=number]{
  -moz-appearance: textfield;
}

#step3 .headlineTwo,
#step3 .privacyPolicy{
    width: 100%;
    text-align: center;
}

#stepThree .options,
#endSteps .options{
    margin: 0;
    padding: 0;
}

#stepThree .options .optionContainer,
#endSteps .options .optionContainer{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    min-height: 4rem;
    height: 100%;
    display: flex;
    /* align-items: center; */
    align-items: center;
    margin-top: 0.75rem;
 
    border-radius: 7px;
    font-size: 16px;
    color: var(--dull);
    background-color: var(--optionDefault);
    transition: all 0.5s ease-out;
	font-family: 'Mulish', 'sans serif';
    cursor: pointer;

    line-height: 2;
} 

 #stepThree .options .optionContainer:hover,
 #endSteps .options .optionContainer:hover{
    /* background-color:  rgba(127, 88, 226, 0.6); */
    background-color :rgba(5,136,102, 1)
    color: var(--white);
} 

/* .radioSelected */


 #stepThree .options .optionContainer label,
 #endSteps .options .optionContainer label {
    margin-left: 1rem;
    
} 

#stepThree .options label:hover svg,
#endSteps .options label:hover svg{
    fill: white;
}

 #stepThree .options .optionContainer .iconContainer,
 #endSteps .options .optionContainer .iconContainer{
    width: 10%;
    height: 1.5rem;
    /* max-height: 10%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#stepThree .options .optionContainer .iconContainer #check_mark,
#endSteps .options .optionContainer .iconContainer #check_mark{
    width: 18px;
    height: 18px;
    object-fit: contain;
    transition: all 0.15s ease-out;

    margin-right: 0.5rem;
}

.iconSimple{
    fill: #888888;
}

.iconHovered{
    fill: white !important;
}

.option{
    height: 2rem;
    width: 90%;

    display: flex;
    align-items: center;
    margin-left: 1rem;
} 

#stepThree #nextBtn,
#stepThree #nextSec,
#endSteps #nextBtn,
#endSteps #nextSec,
.clickableBtn{
    width: 100%;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#nextQues{
    width: 100%;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/*  */
[type=radio]{ 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}
  
  /* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 2px solid #f00;
}



/*  */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    /* margin-right: 8rem; */
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .optionsData{
    margin-left: 2rem;
  }

  #ques1,
  #ques2,
  #ques3{
      width: 100%;
  }

  #ques1 .logo,
  #ques2 .logo,
  #ques3 .logo{
        margin-bottom: 4.5rem;
  }

  #ques1 #nextSec1,
  #ques2 #nextSec2,
  #ques3 #nextSec3{
      width: 100%;
      margin: 0;
  }
  #ques1 .head,
  #ques2 .head,
  #ques3 .head{
      font-weight: 700;
      font-size: 28px;
      line-height: 1.5;
  }
  #ques1 .info,
  #ques2 .info,
  #ques3 .info{
      /* margin-top: 2rem; */
     line-height: 2;
     margin-bottom: 1rem;
  }
#ques2 label,
#ques3 label{
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}
  #amount1,
  #amount2{
    min-height: 60px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: transparent;
    -webkit-transition: border-color 300ms ease;
    transition: border-color 300ms ease;
    color: #7f58e2;
    font-size: 22px;
    font-weight: 700;

    margin-top: 1rem;
    margin-bottom: 1rem;
  }
#initialRadioTwoContainer,
#initialRadioOneContainer{
    display: flex;
    align-items: center;
}
#initialRadioTwoContainer .iconContainer,
#initialRadioOneContainer .iconContainer{
   align-self: center;
}
#initialRadioTwoContainer .title,
#initialRadioOneContainer .title{
   align-self: center;
}

#stepThreeInnerOne #options .info{
    font-size: 12px;
}
#stepThreeInnerOne #options .details{
    font-size: 12px;
	color: #88C4B4;
    margin-top: 5px;
}
#stepThreeInnerTwo #options .info{
    font-size: 12px;
	text-align: justify;
}
#stepThreeInnerTwo #options .details{
    font-size: 12px;
		color: #88C4B4;
    margin-top: 5px;
}

.number-label{
    font-family: SofiaRegular;
    font-weight: 600;
    color: var(--black);
    font-size: 18px;
}

.newBtn{
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-family: SofiaRegular !important;
}
.newBtn .container{
    width: 30%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    font-family: SofiaRegular !important;
}
.newBtn .container .text{
    width: 70%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    margin-left: -1rem;
    font-family: SofiaRegular !important;
    color: #058866;
}
.newBtn .container .imageContainer{
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #E7E7E7;
}
.newBtn .container .imageContainer svg{
    width: 80%;
    height: 100%;
    fill: white ;
    padding: 2px;
}

/* <div class="text">
                    <div>Next</div>
                </div>
                <div class="imageContainer">
                  <div class="img">
                    <img src="./images/noun_Arrow_2570178-1-1.svg" alt="arrow" />
                  </div>
                </div> */
#checkbox{
    opacity: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#options .optionContainer:hover {
    background-color: rgba(5,136,102, 0.6) !important;
    color: white !important;
}
#options .optionContainer:hover svg{
    fill: white !important;
}

.clickableBtn{
    width: 100% !important;
    margin: 0 !important;
    font-family: SofiaRegular !important;
}

.clickableBtn:disabled:hover{
    background-color: white !important;
}

#confirmDetails{
    margin-top: -1.5rem;
}

#makeChanges{
        text-decoration: underline;
        height: 3rem;
        background-color: transparent !important;
        margin-bottom: 1rem;
        margin-top: -0.5rem;
        /* font-family: Elevetion; */
        font-size: 16px;
        color: var(--dull);
        font-family: SofiaRegular !important;
}

/* restyling inputs starts */
.form-step{
    padding-top: 1rem;
}
.wrapper .content form .text-field-wrapper {
    /* padding-top: 1rem; */
    /* margin-top: 0.6rem !important; */
    font-family: SofiaRegular;
}
input:valid{
    border: 2px solid rgba(5,136,102, 0.5) !important;
}

input:focus ~ .field-label {
    border: 2px solid rgba(5,136,102, 0.5);
    border-radius: 5px;
    
}

input:valid ~ .field-label {
    border: 2px solid rgba(5,136,102, 0.5);
    border-radius: 5px;
    
}
input:valid ~ .field-label {
    border: 2px solid rgba(5,136,102, 0.5);
    border-radius: 5px;
    
}

input{
    color: rgba(5,136,102, 1) !important;
    font-family: SofiaRegular;
}
/* restyling inputs ends */
/* accordian */

@media screen and (max-width: 480px) {
    body{
        margin: 0 !important;
        padding: 0.85rem !important;
    }
    .progressBar{
        margin: 0;
        padding: 0;
        max-width: 100vw !important;
        height: 2rem;
        display: flex;
        align-items: center;
        line-height: 0;
        opacity: 0.7;
        margin: 0 auto;
    }
    
    form{
        width: 420px !important;
        /* margin: 0 !important;
        padding: 0 !important; */
    }
     .questionStep5 .options{
        width: 100% !important;
    } 
    .questionStep5 #nextBtn{
        /* width: 96% !important; */
    }
    
}

input,
label{
    font-family: SofiaRegular !important;
    font-weight: 200 !important;
}
button{
    font-family: SofiaRegular !important;
}
.accordianhead{
    font-family: SofiaMedium;
}