*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: BegumSans;
    src: url('../fonts/thicccboi/fonts/Begum.Sans/BegumSans-Regular.otf');
  }
@font-face {
    font-family: AktivGroteskCorp;
    src: url('../fonts/thicccboi/fonts/AktivGroteskCorp/AktivGroteskCorp-Regular.woff');
  }
  .header{
    background-color: white;
  }
.mainContent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 8rem;
    /* background-color: #e7e7e7; */
    background-color: white;
}
.mainContent .Privacy_contentContainer{
    width: 80%;
    padding-top: 1rem;
}
.mainContent .Privacy_Secondary_contentContainer ul,
.mainContent .Privacy_contentContainer ul{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.mainContent .Privacy_Secondary_contentContainer p,
.mainContent .Privacy_contentContainer p{
    font-family: AktivGroteskCorp;
}
.mainContent .Privacy_Secondary_contentContainer p a,
.mainContent .Privacy_contentContainer p a{
    color: #0b966d;
}
.mainContent .Privacy_contentContainer .pageHead{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    font-family:"Montserrat", Times, serif;
}
.mainContent .Privacy_contentContainer  .mainHead{
    font-size: 6rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
    font-family:"Montserrat", Times, serif;
}
.mainHEAD .details{
    padding-top: 2rem;
}
.alignLeft{
    text-align: left !important;
}
.mainContent .Privacy_contentContainer p span{
    text-decoration: underline;
}
.mainContent .Privacy_Secondary_contentContainer{
    width: 80%;
}
.mainContent .Privacy_Secondary_contentContainer .head{
    font-size: 2.5rem;
    font-family:"Montserrat", Times, serif;
}

